<nav aria-label="...">
    <ul class="pagination pagination-sm">

        {% for i in 1..pages %}
            {% if i == current_page %}
                <li class="page-item disabled">
                    <a class="page-link" href="{{ url(pageUrl, { page:i }) }}" tabindex="-1">{{ i }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ url(pageUrl, { page:i }) }}">{{ i }}</a></li>
            {% endif %}

        {% endfor %}
    </ul>
</nav>