<div class="card post_card" style="cursor: pointer;" id="{{ post['name'] }}">
    <img class="card-img-top" src="{{ image }}" alt="Card image cap">
    <div class="card-header">
        <h4>{{ post['title'] }}</h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Publish date: {{ post['created_utc']|date("m/d/Y") }}</li>
            <li class="list-group-item">Author: {{ post['author'] }}</li>
            <li class="list-group-item">In favorites: {{ post['__in_favorites'] }}</li>
        </ul>
    </div>
    {% if app.getUser() and inf %}
        <a href="{{ url('to_favorite', {'post_name': post.name}) }}" class="btn btn-info">To
            favorite</a>
    {% endif %}
</div>
<br>
<br>