<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    {% block stylesheets %}{% endblock %}
</head>
<body data-root-url="{{ url('index_page') }}">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ url('index_page') }}">NEDOREDDIT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if app.getUser() %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url('favorite_posts', {'page':1}) }}">My favorite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

            {% else %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url('login_user') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url('register_user') }}">Register</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link disabled" href="{{ url('community_favorite', {'page':1}) }}">Community favorite</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="{{ asset('asserts/js/redirect_on_post_page.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
