{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endif %}
    {% include 'includes/form.html.twig' with{'form': filter_form} %}

    {% for post in posts %}
        {% include 'includes/post_card.html.twig' with {'post': post['data'], 'inf':true, 'image':post['data']['thumbnail'] } %}
    {% else %}
        <h2>No posts found</h2>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

