{% extends 'base.html.twig' %}

{% block body %}
    <h1>Favorites</h1>
    {% for post in posts %}
        {% include 'includes/post_card.html.twig' with {'post': post['data'], 'inf':false, 'image':post['data']['thumbnail'] } %}
    {% else %}
        <h2>You did not add favorites any posts.</h2>
    {% endfor %}
    {% include 'includes/pagination.html.twig' with {'pageUrl': 'favorite_posts', 'pages':pages, 'current_page':page} %}
{% endblock %}