{% extends 'base.html.twig' %}

{% block body %}
    {% if post %}
        {% include 'includes/post_card.html.twig' with {'post': post['data'],'image':post['data']['url'], 'inf':true} %}
    {% endif %}
{% endblock %}

